{% extends "base/base.html" %}

{% block content %}
<!-- LOAD PAGE -->

{% include "base/components/banner.html" %}

<!-- WELCOME TO LAWE -->
<div class="section">
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="section-heading">
                        Osmanoğlu Hukuk ve Danışmanlık Bürosu
                    </h2>
                    <p>
                        Büromuz alanında uzman kadrosu ile hem danışmanlık hem de dava takibi hizmetleri sunmaktadır.
                    </p>
                    <p>
                        Osmanoğlu Hukuk ve Danışmanlık Bürosu en verimli şekilde çözüme ulaşmak amacıyla çalışma
                        alanlarına göre uzmanlaşmış departmanlara ayrılarak organize olmuştur.
                    </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <img src="/static/images/about.jpg" alt="" class="img-fluid mt-3">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}