{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- LOAD PAGE -->

{% include "base/components/banner.html" %}

{% include "base/components/message.html" %}


<!-- CONTENT -->
<div class="section">
	<div class="content-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8">
					<h2 class="section-heading">
						İletişim Formu </h2>
					<form action="/message_submit/" method="post" data-toggle="validator" novalidate="true">
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="p_name" placeholder="İsminiz"
										required="">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input type="email" class="form-control" name="p_email" placeholder="Emailiniz"
										required="">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="p_subject" placeholder="Konu">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="p_phone"
										placeholder="Telefon numaranız">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<textarea name="p_content" class="form-control" rows="6"
								placeholder="Mesajınızı giriniz"></textarea>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<div id="success"></div>
							<button class="btn btn-secondary">Şimdi Gönder</button>
						</div>
					</form>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h2 class="section-heading">
						İletişim Bilgileri
					</h2>
					<!-- Item 1 -->
					<div class="row align-items-center">
						<div class="col-2"><i class="fa fa-map-marker fa-3x text-primary"></i></div>
						<div class="col-10">
							<h4 class="text-primary mb-0">Adres :</h4>
							<p>{{ firm.address }}</p>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="row align-items-center">
						<div class="col-2"><i class="fa fa-envelope fa-3x text-primary"></i></div>
						<div class="col-10">
							<h4 class="text-primary mb-0">Email :</h4>
							<p>{{ firm.email }}</p>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="row align-items-center">
						<div class="col-2"><i class="fa fa-phone fa-3x text-primary"></i></div>
						<div class="col-10">
							<h4 class="text-primary mb-0">Telefon :</h4>
							<p>0{{ firm.phone }}</p>
						</div>
					</div>
					<!-- Item 4 -->
					<div class="row align-items-center">
						<div class="col-2"><i class="fa fa-clock-o fa-3x text-primary"></i></div>
						<div class="col-10">
							<h4 class="text-primary mb-0">Çalışma Saatleri :</h4>
							<p>{{ firm.working_hours }}</p>
						</div>
					</div>
				</div>
				<!-- End Sidebar -->
			</div>
		</div>
	</div>
</div>

<!-- MAPS -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1503.9438071762818!2d28.977570400624412!3d41.07144919816987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab6e0efd93353%3A0x715b1ec00178eabb!2zR8O8cnNlbCwgS2HEn8SxdGhhbmUgQ2QuIDExNmMsIDM0NDAwIEvDosSfxLF0aGFuZS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1589544507068!5m2!1str!2str"
				width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
				tabindex="0"></iframe>
		</div>
	</div>
</div>
{% endblock content %}