{% extends "base/base.html" %}

{% block content %}
<!-- LOAD PAGE -->

{% include "base/components/nav.html" %}
{% include "base/components/banner.html" %}

<!-- CONTENT -->
<div class="section">
	<div class="content-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8">

					<div class="row">
						<div class="col-sm-12 col-md-12">
							<img src="{{ practice_area.cover_image.url }}" alt="" class="img-fluid">
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-sm-12 col-md-12" style="text-align:justify">
							<h2 class="section-heading">
								{{ practice_area.title }}
							</h2>
							<p>{{ practice_area.content | safe }}</p>

							<a href="{% url 'contact' %}" class="btn btn-secondary">BİZİMLE İLETİŞİME GEÇİN</a>

						</div>
					</div>

				</div>

				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="widget categories">
						<ul class="category-nav">
							{% for practice in practice_areas %}
							<li><a href="{% url 'single_practice_area' practice.slug %}" >{{ practice.title }}</a></li>

							{% endfor %}
		
						</ul>
					</div>

					<!-- <div class="widget">
						<div class="rs-box-widget bg-secondary">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="body">
								<h3>How Can We Help You?</h3>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
									fugiat nulla par- iatur.</p>
								<a href="contact.html" class="text-primary">CONTACT US</a>
							</div>
						</div>
					</div>

					<div class="widget">
						<div class="rs-box-widget">
							<div class="icon">
								<i class="fa fa-file-pdf-o"></i>
							</div>
							<div class="body">
								<h3>Download Brochure</h3>
								<p>We always take care of clients seriously</p>
								<a href="#" class="btn btn-primary">DOWNLOAD</a>
							</div>
						</div>
					</div> -->

				</div>
				<!-- End Sidebar -->
			</div>
		</div>
	</div>
</div>
{% endblock content %}