{% load static %}
{% load compress %}

<!-- JS VENDOR -->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/validator.min.js' %}"></script>
<script src="{% static 'js/vendor/form-scripts.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
