{% load static %}
{% load compress %}


<!-- JS VENDOR -->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/validator.min.js' %}"></script>
<script src="{% static 'js/vendor/form-scripts.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<script src="{% static 'js/googlemap-setting.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU&callback=initMap"> </script>
