<!-- HEADER -->
<div class="header header-1">
    <!-- TOPBAR -->
    <div class="topbar d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-8 col-md-6">
                    <div class="info">
                        <div class="info-item">
                            <i class="fa fa-phone"></i><a href="tel:+90{{ firm.phone }}">0{{ firm.phone }}</a>
                        </div>
                        <div class="info-item">
                            <i class="fa fa-envelope-o"></i> <a href="mailto:{{ firm.email }}"
                                title="">{{ firm.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NAVBAR SECTION -->
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{{ firm.navbar_image.url }}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if banner_page_name == 'Ana Sayfa' %} active {% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">ANASAYFA</a>
                        </li>
                        <li class="nav-item {% if banner_page_name == 'Hakkımızda' %} active {% endif %}">
                            <a class="nav-link" href="{% url 'about' %}">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item {% if banner_page_name == 'Avukatlarımız' %} active {% endif %}">
                            <a class="nav-link " href="{% url 'attorneys' %}">EKİBİMİZ</a>
                        </li>
                        <li class="nav-item {% if banner_page_name == 'Blog Yazılarımız' %} active {% endif %} ">
                            <a class="nav-link " href="{% url 'blogs' %}">BLOG</a>
                        </li>
                        <li class="nav-item {% if banner_page_name == 'Çalışma Alanlarımız' %} active {% endif %} ">
                            <a class="nav-link text-center" href="{% url 'practice_areas' %}">ÇALIŞMA ALANLARIMIZ</a>
                        </li>
                        <li class="nav-item {% if banner_page_name == 'İletişim' %} active {% endif %}">
                            <a class="nav-link" href="{% url 'contact' %}">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </div>
    </div>
</div>